details {
  @include white-box();
  // background:red;
  summary {
    // padding:0;
    outline:none;
    text-transform:uppercase;
    font-weight:600;
    font-size:.875em;
  }
}

aside details {
  box-shadow:none;
  padding:5px;
}