.view-layout-custom {
    display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 30px;
  .view-layout-custom-item {
    // background:grey;
    position:relative;
    &:hover {
      .contextual-editing {
        display:block;
      }
    }
  }
  .contextual-editing {
    position:absolute;
    top:0;
    right:0;
    width:10em;
    a {
      text-decoration:none;
    }
    // font-size:.8125em;
    // color:$claro;
    display:none;
  }
  .view-main-content {
  grid-column:span 3;
    

    }
  .view-second-content {}
  background:url(../images/icons/states-approved.svg) no-repeat;
  background-size:42px;
  background-position:top right;
  &.status-False {
    background-image:url(../images/icons/states-draft.svg);
  }
}

body.path-group {
  
}


.view-solution-group-pages {
  .views-field-nothing {
    // opacity:.1;
    // display:none;
  }
  .view-content {
    position:relative;
  }
  
  .approved-True  {
    // background:cyan;
  }
  .field__label {
    // flex-basis:12em;
    // text-align:right;
    // margin-right:15px;

  }
  // .field--label-above
  
  p {
        margin:0;
        // background:red;
  }
  p + p {
          margin:1.5em 0;
  }
}


.view-cols-3,
.view.front-banner
 {
  .view-content {
  // background:red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); 
    grid-gap: 30px;

  }
  .views-row {
    position:relative;
    // background:red;
  }
  &.view-display-id-block_4 .view-content {
  
    display:block;
    width:480px;
    // background:rsed;
    margin:0 auto;
  }
  
}
.view-front-solutions {
  .views-field-body {
    // color:$claro;
    font-size:.875em;
  }
}

.view-group-content,
.view-custom-group {

  
  
  .item-list {
    ul {
      @include reset-list();
      li:not(:last-of-type) {
        
        a {
          
          border-bottom:1px solid $gris_80;
        }
        
      }
      li a {
        padding:5px 5px;
        background:$gris_95;
        display:block;
        
      }
      
    }
    
    
  }
}