.region-menu-second {
  // height:140px;
  font-size:.875em;
  padding:0;
  // background:red;
  overflow:hidden;
  background:linear-gradient( to right, transparent, $bk_2);
  background:linear-gradient( to bottom, transparent, $bk_2);
  background:$bk_2_2;
  .menu {
      // display:flex;
      // flex-flow: row wrap;
      justify-content:flex-end;
    li {
      // display:block;
    }
    a {
      color:$bk;
      // text-transform:uppercase;
      // letter-spacing:1px;
      // font-size:0.9285714285714286em;
      // background:transparentize($bk_1,.6);
      // color:white;
      padding:7px 15px;
      display:block;
      &.is-active {
        background:$bk_1;
        color:white;
      }
      
    }
    .menu a {
      padding-left:2em;
      text-transform:none;
      font-size:1em;
      font-weight:normal;
    }
    
  }
      li.menu-item--active-trail {
      a {
        // color:white;
        background:$bk_2_2;
        &.is-active {
        
          color:white;
          background:$bk_1;
        }
      }
    }
}



