.menu {
  @include reset-list();
  
  
}
.region-primary-menu .menu--main {
  .menu {
    // display:flex;
    // flex-flow: row wrap;
    // text-align:center;
    li {
      line-height:1em;
    }
    a {
      display:block;
      padding:5px 11px;
      letter-spacing:1px;
      // background:$bk_1;
      color:$bk;
      text-transform:uppercase;
      font-size:.875em;
      font-weight:600;
      // border-bottom:3px solid $bk_2;
      // border-bottom-color:transparent;
      
      
      
    }
    li:not(:last-of-type) a {
      // border-right:1px solid transparentize(white, .7);
      // border-bottom:1px solid $gris_80;
    }
    .menu {
      // display:none;
      a {
        // color:$claro;
        
      }
    }


    
  }
  
  & > .menu > li.menu-item--active-trail {
    & > a {
      background:$bk_1;
      background:$bk_2;

      // color:white;
    }
  }
}


@media (max-width:$device - 1) {
  .menu--main {
   
    .menu {

      li:not(:last-of-type)  {
        // border-right:1px solid transparentize(white, .7);
        // border-bottom:1px solid $gris_80;
      }
    }
  }
  
}
@media (min-width:$device) {
   .menu--main {
    & > .menu {
       display:flex;
        flex-flow: row wrap;
      a {
        
        // background:silver;
      }
      

    a.user  {
      // @include  replace-text-image();
      
      // padding-bottom:15px;
      
    }
      
      li:not(:last-of-type) a {
        // border-right:1px solid black;
        // border-bottom:1px solid $gris_80;
      }
      
      .menu {
        display:none;
        a {
          
        }
      }
      
      & > li {
        position:relative;
        .menu {
          position:absolute;
          top:26px;
          left:0;
          width:15em;
          // background:cyan;
          z-index:99;
          box-shadow:2px 2px 6px transparentize(black,.5);
          background:$gris_98;
          // padding:1em;
          li a {
            padding:7px;
            text-transform:none;
            
            
          }
          li:not(:last-of-type) {
            border-bottom:1px solid $gris_90;
          }
        }
        &:hover {
          .menu {
            display:block;
          }
        }
        
      }
    }
  }
}

.region-secondary-menu {
  font-size:.875em;
  .menu {
    display:flex;
    a {
      color:$general;
      display:block;
      padding:5px 10px;
      
    }
    
  }
}


body.user-logged-in {
  .user-logged-out {
  // display:none;
  
  }
}
@media (min-width:$device) {

  .region-primary-menu .menu {
    li:last-of-type a {
   
      // @include replace-text-image();
      
    }
  }
}