 
@font-face {
font-family: 'iconos';

src: url('../fonts/fonts/icomoon.eot');
src: url('../fonts/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
     url('../fonts/fonts/icomoon.woff') format('woff'),
     url('../fonts/fonts/icomoon.ttf') format('truetype'),
     url('../fonts/fonts/icomoon.svg#iconosRegular') format('svg');

     font-display: swap;
 
 }

a,
.block-header h2,

.btn  {
  &:before {
    font-family:iconos;
    padding:0 0.6em 0 0;
    line-height:1em;
    font-weight:normal;
  }
}

  .vertical-list .item {
    &:after {
      font-family:iconos;
    }
  }

$device_4 : 480px;
$device_7 : 768px;
$device : 992px;
$device_max : 1220px;
$device_14 : 1440px;
$radius:6px;
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font-family:'open sans',sans-serif;
  width:100%;
  line-height:1.4;
}
img {
  max-width:100%;
  height:auto;
}

h1,h2, h3, h4, h5, h6 {
  font-weight:600;
  line-height:1.2;
}
h1 {
  font-size:1.6em;
  
}
h2 {
  font-size:1.3em;
  
}


p {
  margin:0;
}
p + p {
  // background:green;
  margin:1em 0;
}